<div class="grid" style="margin-top: 50px; margin-left: 50px; margin-right: 50px;">
    <div class="col">
        <div>
             <p-avatar>
            <img src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg" alt="">
        </p-avatar>
        </div>
       <div>
           <p-chip label="Subir foto" image="https://png.pngtree.com/png-clipart/20190619/original/pngtree-vector-add-icon-png-image_3997426.jpg"></p-chip> 
       </div>
    </div>

    <div class="col">
        <div class="p-inputgroup" style="margin: 10px;">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Usuario">         
        </div>
        <div class="p-inputgroup"style="margin: 10px;">
            <span class="p-inputgroup-addon">€</span>
            <input type="text" pInputText placeholder="Sueldo">   
            <span class="p-inputgroup-addon">.00</span>      
        </div>
        <div class="p-inputgroup"style="margin: 10px;">
            <span class="p-inputgroup-addon"><i class="pi pi-facebook"></i></span>
            <input type="text" pInputText placeholder="Facebook">      
        </div>

    </div>
    <div class="col">
        <div class="p-inputgroup"style="margin: 10px;">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="password" pInputText placeholder="Contraseña">         
        </div>
        <div class="p-inputgroup"style="margin: 10px;">
            <span class="p-inputgroup-addon">www</span>
            <input type="text" pInputText placeholder="Página web">      
        </div>
    </div>
    <div class="col">
        <div class="p-inputgroup" style="margin: 10px;">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="password" pInputText placeholder="Contraseña">         
        </div>
        <div class="p-inputgroup"style="margin: 10px;">
            <span class="p-inputgroup-addon"><i class="pi pi-twitter"></i></span>
            <input type="text" pInputText placeholder="Twitter">      
        </div>

    </div>
</div>

