<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport">
  <title>Document</title>
</head>

<body>
  <div id="wrapper">
    <button pButton type="button" routerLink="ejercicio1">Ejercicio1</button>
    <button pButton type="button" routerLink="ejercicio2">Ejercicio2</button>
    <button pButton type="button" routerLink="ejercicio3">Ejercicio3</button>
    <button pButton type="button" routerLink="ejercicio1grid" class="p-button-warning">Ejercicio 1 con GRID</button>
    <button pButton type="button" routerLink="ejercicio2grid"class="p-button-warning">Ejercicio 2 con GRID</button>
    <button pButton type="button" routerLink="ejercicio3grid"class="p-button-warning">Ejercicio 3 con GRID</button>
    <button pButton type="button" routerLink="ejercicio4" class="p-button-danger">Ejercicio 4</button>
    <router-outlet></router-outlet>
  </div>
</body>

</html>