<h1>Perfil de usuario</h1>

<div>
    <p-avatar>
    <img src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg" alt="">
</p-avatar>
</div>

<p-chip label="Subir foto" image="https://png.pngtree.com/png-clipart/20190619/original/pngtree-vector-add-icon-png-image_3997426.jpg"></p-chip>
<div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Usuario">         
        </div>
    </div>
    

    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="password" pInputText placeholder="Contraseña">         
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="password" pInputText placeholder="Repetir contraseña">         
        </div>
    </div>
    
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">€</span>
            <input type="text" pInputText placeholder="Sueldo">   
            <span class="p-inputgroup-addon">.00</span>      
        </div>
    </div>
            
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">www</span>
            <input type="text" pInputText placeholder="Página web">      
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="@fa-var-twitter"></i></span>
            <input type="text" pInputText placeholder="Twitter">      
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="@fa-var-twitter"></i></span>
            <input type="text" pInputText placeholder="Facebook">      
        </div>
    </div>
</div>
    
